<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <!-- <button class="logo" (click)="toogleCollapse()">A</button>
        <div class="logo-text" *ngIf="!collapsed">Angular</div>
        <button class="btn-close" *ngIf="!collapsed" (click)="closeSideNav()">
            <i class="fa fa-times close-icon"></i>
        </button> -->
        <img src="../../assets/logo/logo_black_small.svg" style="width: 40px; height: 40px;">
        <!-- margin: auto; height: 11px; -->
        <img src="../../assets/logo/logo_black_large.svg" style="width: 65%;">
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [classList]="data.icon" style="font-size: 20px;"></i>
                <span class="sidenav-link-text" *ngIf="!collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>