.parent {

    display: flex;
    height: 100vh;
    overflow: hidden;

    app-side-nav {
        width: 340px;
        height: 100%;
        padding: 10px;
        overflow: hidden;
    }

    .body {

        width: 80%;

    }

}