<section class="parent padded">

    <div class="topContainer">

        <div class="header">

            <span style="font-size: 40px; font-family: 'Poppins-Medium';">Dashboard</span>

        </div>

        <div class="cards">

            <div class="card totalStudents">

                <div class="header">

                    <span class="title">Students</span>

                </div>

                <div class="content">

                    <span class="studentsCount" [id]="textElementIds.totalAccountsLabelId">0</span>

                    <mat-icon class="nextArrow">keyboard_arrow_right</mat-icon>

                </div>

            </div>

            <div class="card totalCourses">

                <div class="header">

                    <span class="title">Courses</span>

                </div>

                <div class="content">

                    <span class="count" [id]="textElementIds.totalCoursesLabelId">0</span>

                    <mat-icon class="nextArrow">keyboard_arrow_right</mat-icon>

                </div>

            </div>

        </div>


    </div>

</section>